<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BASE_URL</key>
	<string>https://rest.coinapi.io/</string>
	<key>API-TOKEN</key>
	<string>08bd49fa-c10a-453f-9181-d15f94066323</string>
</dict>
</plist>
